/* For all text*/
*{
    font-family: Segoe UI;
    color: #2A3F65;
    font-weight: 500;
}

html{
    scroll-behavior: smooth;
}
/* For Navbar */
ul.navbar {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    background-color:#95e3d1;
    top: 2px;
    position :sticky;
    z-index: +1;
  }
  
li.navbar {
    float: left;
}

li.navbar a {
    display: block;
    color: rgb(68, 68, 68);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a:hover {
    background-color: rgb(70, 148, 127);
    color: aliceblue;
    transition: ease-in;
    transition-duration: 300ms;
}

li.navbar a.active {
    background-color: #2A3F65;
    text-decoration: underline;
    color: aliceblue;
}

/* special navbar only */
#titley{
    font-style: oblique;
    font-weight: 700;
    text-decoration: solid;
    background-color: rgb(84, 161, 143);
    color: rgb(255, 255, 255);
}
#titley:hover{
    background-color: #2A3F65;
}


/* For Body */
body {
    background-image:url('https://files.catbox.moe/sb2sgc.png');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    transition: 100s;
}


/* Title 1 */
h1#title1{
    background-color: #2A3F65;
    color:#7dffc1;
    text-align: center;
    margin : 15% 20% 3px 20%;
    min-width: 20%;
    font-size: 500%;
}

/* Subtitle 1 */
h1#sub {
    background-color: #2A3F65;
    color:#7dffc1;
    text-align: center;
    margin : 15% 20% 14px 20%;
    min-width: 50%;
    font-size: 500%;
    font-weight: 700;
}

/* below Subtitle */
#aftersub{
    color: rgb(68, 68, 68);
    margin : 0 20% 20% 20%;
    text-align: center;
    font-size: 25px;
    position : relative;
}

/* Part title of subtitle content */
h1#sub2{
    color: #2A3F65;
    text-align: center;
    margin : 15% 20% 0 20%;
    font-size: 200%;
}

/* for image in about */
#contentimg{
    width: 30%;
    height: auto;
    float: left;
    padding-right: 10%;
    padding-left: 10%;
}

/* for all h2 */
h2{
    text-decoration: underline;
}

/* Text container for content */
.textcontainer {
    background-color:#b6f8e9;
    margin : 5% 0% 10% 0%;
    vertical-align: middle;
    padding :5% 10% 5% 10%;
    overflow: auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* home container */
.titlecontainer{
    padding: 10% 2% 10% 40%;
}

/* Hello at home page */
#hello{
    background-color: #2A3F65;
    color: #7dffc1;
    font-size: 70px;
    margin: 10% 25% 3% 15%;
    font-weight: 700;
}

/* Image at home.html */
#oneimg {
    padding: 8%;
    height: auto;
    position: relative;
    float: left;
    margin: auto;
}

/* back to top */
#backtotop{
    position :fixed;
    bottom : 30px;
    right : 3%;
}


/* Center text */
.center{
    text-align: center;
}

/* For Portfolio */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition-duration: 400ms;
  }

/* Control the left side of Portfolio*/
.left {
    left: 0;
    background-image:url("https://files.catbox.moe/kw9c6b.png");
}

a#lefty{
    color: #2A3F65;
    font-weight: 700;
    font-size: 25px;
    position: fixed;
    bottom : 70px;
    left : 5%;
    text-align: center;
    text-decoration: none;
    margin: 2%;
    line-height: 1;
}
a#lefty:hover{
    color: #95e3d1;
    transition: ease-in-out;
    transition-duration: 400ms;
}

a#lefty:hover ~ .split{
    width: 100%;
    transition: ease-in-out;
    transition-duration: 400ms;

}
  
/* Control the right side of Portfolio*/
.right {
    right: 0;
    background-image :url("https://files.catbox.moe/y3qr7q.png");
}

a#righty {
    color: #2A3F65;
    font-weight: 700;
    font-size: 25px;
    position: fixed;
    bottom : 70px;
    right : 5%;
    text-align: center;
    text-decoration: none;
    margin: 2%;
    line-height: 1;
}
a#righty:hover{
    color: #95e3d1;
    transition: ease-in;
    transition-duration: 300ms;
}

a#righty:hover ~ .split{
    width: 0%;
    transition: ease-in;
    transition-duration: 300ms;
}

/* for back text */
a#goback{
    position: relative;
    top: 50px;
    left: 30px;
    font-size: 20px;
    text-decoration: underline;
}

a#goback:hover{
    color: #95e3d1;
}

/* For footer */
#footer{
    background-color: #95e3d1;
    margin : 20% 0px 0px 0px;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: #2A3F65;
    z-index: 1;
}

/* test sections */
/* From w3schools.com */

/* back to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 8%; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    opacity: 0.6;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* for gallery */
div.gallery {
    box-sizing: border-box;
    margin-bottom: 70px;
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    padding:5px;
    background-color: rgb(239, 254, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/* for small size screen */
@media screen and (max-width: 600px) {
    *{
        font-size: 15px;
    }
    ul.navbar{
        position: relative;
    }
    .navbar li {
      float: none;
      width: 100%;
    }

    #hello{
        background-color: #2A3F65;
        color: #7dffc1;
        font-size: 70px;
        width: 100%;
        margin: 0;
    }

    #oneimg{
        display: block;
        float: none;
        width: 60%;
        margin:10%
    }

    .titlecontainer{
        padding: 10%;
        margin-bottom: 20%;
    }

    h1#sub {
        margin : 15% 20% 3px 20%;
        min-width: 200px;
        font-size: 40px;
    }
    h1#sub2{
        font-size: 25px;
    }
    .textcontainer{
        font-size: 15px;
        margin-bottom: 15%;
    }
    #contentimg{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin:10%;
        width: 200px;
        height: auto;
    }
    h2{
        font-size: 20px;
    }
    #myBtn{
        font-size: 10px;
        bottom: 70px;
    }
    a#goback{
        font-size: 15px;
        top:20px;
    }
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
  }