{% extends "base.html" %}

{% block content %}

<!-- ABOUT -->

<body>

<ul class="navbar">
    <li class="navbar"><a href="/" id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about" class='active'>About</a></li>
    <li class="navbar"><a href="portfolio">Portfolio</a></li>
    <li class="navbar"><a href="news">News</a></li>
    <li class="navbar"><a href="info">Info</a></li>
</ul>



<div class='subtitle'>
    <h1 id='sub'>ABOUT</h1>
</div>

<div id='aftersub'>
    <p>Introduction, Experience, and Hobbies</p>
</div>
<h1 id='sub2'>Introduction</h1>
<div class='padding textcontainer'>
    <img src="https://files.catbox.moe/8wahl8.png" alt="Nadya Aprillia" id="contentimg" style="width:50%">
    <p style="font-size:20px">My name is Nadya Aprillia, everyone used to call me Nadya or Pinat. I’m from Palembang, South Sumatera. 
<br><br>Now I’m studying Computer Science at University of Indonesia. <br> I should be in Depok now but it's still pandemic, and so I'm studying online at my Hometown now.</p>
</div>
<h1 id='sub2'>Experience</h1>
<div class='padding textcontainer'>
    <img src="https://files.catbox.moe/j69tay.png" alt="chibi2" id="contentimg" style="width:50%">
    <h2>Educations</h2>
    <ol>
        <li>SD Xaverius 1 Palembang (2007 - 2013)</li>
        <li>SMP Xaverius 1 Palembang (2013 - 2015)</li>
        <li>SMA Xaverius 1 Palembang (2015 - 2018)</li>
        <li>Universitas Indonesia (2019 - now)</li>
    </ol>
    <h2>Work</h2>
    <ol>
        <li>Staff of Visual Design Compfest (2020 - now)</li>
        <li>Staff of HPD KMK Fasilkom UI (2020 - now)</li>
    </ol>
</div>

<h1 id='sub2'>Hobbies</h1>
<div class='padding textcontainer'>
    <div class="center">
        <p>Drawing Illustration<br>
        Crafting using UV Resin<br>
        Culinary trips<br>
        Photography<br>
        Reading comics and novels<br>
        Playing computer games<br>
        Listening to music</p>
    </div>
</div>

</body>

{% endblock %}
