{% extends 'base.html' %}
{% block content %}

<!-- ART PORTFOLIO -->

<ul class="navbar">
    <li class="navbar"><a href="/" id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about">About</a></li>
    <li class="navbar"><a href="portfolio" class='active'>Portfolio</a></li>
    <li class="navbar"><a href="news">News</a></li>
    <li class="navbar"><a href="info">Info</a></li>
</ul>
<a id="goback" href="portfolio">< Back</a>

<body style="box-sizing: border-box; padding-bottom:100px ; background-image:url(https://files.catbox.moe/kw9c6b.png)">


<h1 id='sub2' style="margin-top:40px;margin-bottom:5%">My Art Portfolio</h1>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/77sfwn.png" alt="underwater">
        <div class="desc">
            <p>UnderWater</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/rk93fu.png" alt="alberu">
        <div class="desc">
            <p>Fireworks</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/k1rqz3.png" alt="cale">
        <div class="desc">
            <p>Sunset</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/sg3db7.png" alt="sky">
        <div class="desc">
            <p>Sky</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/uequzu.jpg" alt="teehee">
        <div class="desc">
            <p>Float in the sky</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/4wq73s.png" alt="therion stylish">
        <div class="desc">
            <p>Therion stylish</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/l6ym4n.jpg" alt="room">
        <div class="desc">
            <p>Imaginative Bedroom</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/7dqm4q.png" alt="onhong">
        <div class="desc">
            <p>On and Hong the cats</p>
        </div>
    </div>
</div>

</body>

{% endblock %}