<!DOCTYPE html>
<html lang="en">

{% load static %}

<!-- Own style.css and bootstrap framework -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- BASE HTML -->

<head>
    <meta charset="UTF-8">
    <title>Pinat's Website</title>
</head>

    {% block content %} {% endblock %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top Page</button>

<div id="footer">
    <p>Created by Nadya Aprillia @2020 || <a href="https://ppw-pinat-1.herokuapp.com/">Story 1 website</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>

</html>