{% extends "base.html" %}

{% block content %}

<!-- HOME -->

<body>
<ul class="navbar">
    <li class="navbar"><a href="/" class='active' id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about">About</a></li>
    <li class="navbar"><a href="portfolio">Portfolio</a></li>
    <li class="navbar"><a href="news">News</a></li>
    <li class="navbar"><a href="info">Info</a></li>
</ul>
    <div class='padding'>
        <img src="https://files.catbox.moe/8wahl8.png" alt="Nadya Aprillia" id="oneimg" style="width:45%">
        <div class = "titlecontainer">
            <h1 id='hello'>Hello </h1>
            <h1>My name is Nadya Aprillia</h1>
            <article>I am 19 years old</article>
            <br>
            <a href="about" class="btn btn-info" role="button">Click here for more about me!</a>
        </div>
    </div>
</body>
{% endblock %}
