{% extends "base.html" %}

{% block content %}

<!-- INFO -->

<body>

<ul class="navbar">
    <li class="navbar"><a href="/" id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about">About</a></li>
    <li class="navbar"><a href="portfolio">Portfolio</a></li>
    <li class="navbar"><a href="news">News</a></li>
    <li class="navbar"><a href="info" class='active'>Info</a></li>
</ul>

<div class="subtitle">
    <h1 id='sub'>INFO</h1>
</div>

<div id='aftersub'>
    <p>Here's a way to reach me!</p>
</div>


<h1 id='sub2'>Contact Me!</h1>

<div class='padding textcontainer'>
    <img src="https://files.catbox.moe/zzu7gh.png" alt="chibi-nad" id="contentimg" style="width:50%">
    <h2>Media Social</h2>
    <ul>
        <li>Instagram : natpinat</li>
        <li>Line : nat_pinat</li>
        <li>LinkedIn : Nadya Aprillia</li>
    </ul>
    <h2>Email</h2>
    <p>nad.nadya124@gmail.com</p>
</div>

</body>

{% endblock %}