{% extends 'base.html' %}
{% block content %}

<!-- NEWS -->

<body>

<ul class="navbar">
    <li class="navbar"><a href="/" id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about">About</a></li>
    <li class="navbar"><a href="portfolio">Portfolio</a></li>
    <li class="navbar"><a href="news" class='active'>News</a></li>
    <li class="navbar"><a href="info">Info</a></li>
</ul>
<div class="subtitle">
    <h1 id='sub'>NEWS</h1>
</div>
<div id='aftersub'>
    <p>What am I up to right now?</p>
</div>
<h1 id='sub2'>The things I'm doing</h1>
<div class='padding textcontainer'>
<img src="https://files.catbox.moe/uveidg.png
" alt="kucing" id="contentimg" style="width:50%" >    
    <ul>
        <li>Currently studying online</li>
        <li>Learning HTML, CSS, Javascript</li>
        <li>On 3rd semester at Computer Science in Universitas Indonesia</li>
    </ul>
</div>

</body>

{% endblock %}