{% extends 'base.html' %}
{% block content %}

<!-- OTHER PORTFOLIO -->

<ul class="navbar">
    <li class="navbar"><a href="/" id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about">About</a></li>
    <li class="navbar"><a href="portfolio" class='active'>Portfolio</a></li>
    <li class="navbar"><a href="news">News</a></li>
    <li class="navbar"><a href="info">Info</a></li>
</ul>

<a id="goback" href="portfolio">< Back</a>

<body style="box-sizing: border-box; padding-bottom:100px">


<h1 id='sub2' style="margin-top:40px;margin-bottom:5%">My Other Portfolio</h1>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/3p2ad9.png" alt="cf12">
        <div class="desc">
            <p>Visual Design Compfest 12</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/wudgz1.png" alt="isekai">
        <div class="desc">
            <p>Game Project</p>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://files.catbox.moe/75ghxx.png" alt="HPD">
        <div class="desc">
            <p>HPD KMK Fasilkom UI</p>
        </div>
    </div>
</div>

</body>
{% endblock  %}