{% extends 'base.html' %}

{% block content %}

<!-- PORTFOLIO -->

<body>

<ul class="navbar">
    <li class="navbar"><a href="/" id ='titley'>Pinat's Website</a></li>
    <li class="navbar"><a href="about">About</a></li>
    <li class="navbar"><a href="portfolio" class='active'>Portfolio</a></li>
    <li class="navbar"><a href="news">News</a></li>
    <li class="navbar"><a href="info">Info</a></li>
</ul>

<a href="/art_portfolio" id="lefty"> Art<br>Projects </a>

<a href="/other_portfolio" id="righty">Other<br>Projects</a>

<div class='split left'>
</div>

<div class='subtitle'>
    <h1 id='sub'>PORTFOLIO</h1>
</div>

<div id='aftersub'>
    <p>Art and Other Projects</p>
</div>

</body>
{% endblock %}